:root{
    --fondo: #123456;
    --container :rgba(65, 65, 219, 0.842);
    --caja: #0d7070;

}
*{
    background-color: var(--fondo);
    font-family: 'Amiri', serif;
}
h1, h2{
    font-size: 1.2em;
    display: inline;
    margin: 0px 20px;
    background-color: var(--caja);

}
span{
    display: block;
    margin:0px 20px;
    color: white;
    background-color: var(--caja);

}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,220px);
    
    gap: 20px;
    place-content: center;
    margin: 50px 20px;
    
    
}
.card{
    height: 320px;
    width: 220px;
    
    margin-top: 20px;
    background-color: var(--caja);
    border: none;
    border-radius: 10px;
    box-shadow: rgb(44, 44, 44) 5px 5px 15px 5px;
    
}
.producto{
    height: 220px;
    width: 200px;
    margin: 10px 0px 0px 10px;
    border-radius: 10px;
    
}
.producto:hover{
    zoom: 150%;
    
}
.carrito{
    height: 35px;
    margin-bottom: -10px;
    margin-left: 80px;
    background-color: var(--caja);
    
}
