:root {
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #d1c4c4;
    --azulfan: #59b1a996;
    --azulgre: #299497;
    --azulmor: #7f86e6;
    --azulvio: #876fc7;
    --violeta: #a91bccd5;
    --fondo: #123456;
    --fondovar: #0d7070;

    --sm: 14px;
    --md: 18px;
    --lg: 22px;

}
*{
    margin: 0;
    font-family: 'Amiri', serif;
    background-color: grey;

}
h1, h2{
    
    font-size: 1.2em;
    padding-top: 15px;
    
}
h2{
    color: white;
}
.card{
    margin: 100px auto;
    background:var(--caja);
    width: 350px;
    height: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(7, 15, 65, 0.753) 5px 5px 5px 5px;

}
.label, .input{
    display: block;
    width: 320px;
    padding: 5px;
    margin: auto;
    text-align: start;
    
}
.input{
    height: 20px;
    border: none;
    border-radius: 20px;  
    background-color: var(--blanco);
}
.button{
   margin-top: 500px;
    width: 320px;
    padding: 5px;
    margin: 30px auto;
    border: none;
    border-radius: 20px;  
    background-color: rgb(0, 47, 255);
    color: white;
    font-size: 1em;
    font-weight: bold;
    
}
.imagen{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    padding-top: 8px;
    background-color: white;
}
.correo{
    height: 80px;
    width: 80px;
}
.datos{
    padding-top: 30px;
    
}
a{
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    background-color: var(--caja);
}
@media (max-width: 500px) {
    body{
    background-color: var(--fondo);
}
}